#custom-music.Playing {
  background-image: url('/home/mv/.cache/albumart/Apple India - M4 chip | No Sweat | Apple.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
