@import "mocha.css";
* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}
#window {
  margin: 5px;
  font-weight: bold;
  color: #F5DDF2;
  background-color: @surface0;
  margin-left: 0rem;
  padding: 2px 10px 0px 10px;
  background-image: linear-gradient(-45deg, #A8C4D9 0%, #9B7AD4 52%, #BD90CF 90%);
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
border-bottom-right-radius: 1rem;
border-bottom-left-radius: 1rem;
  
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 0.5rem;
  padding: 2px 10px 0px 10px;
  background-image: linear-gradient(-45deg, #A8C4D9 0%, #9B7AD4 52%, #BD90CF 90%);
}

#workspaces button {
  color: @pink;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @green;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-brightness,
#clock,
#battery,
#pulseaudio,
#custom-notification
#custom-exit {
  padding: 0.5rem 1rem;
  margin: 5px 0;
  font-weight: bold;
  color: #9B7CD2;

}

#clock {
  border-radius: 1rem 0rem 0rem 1rem;
  margin-right: 0rem;
}

#battery {
  margin-left: -1rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
  background: red;
  padding: 2px 10px 0px 10px;
}

#custom-brightness {
 margin-left: -1rem;
}

#custom-brightness, #battery {
    border-radius: 0;
}

#pulseaudio {
  border-radius: 0rem 0px 0px 0rem;
  margin-left: -1rem;
}

#custom-exit {
    margin-right: 1rem;
    margin-left: -1rem;
    border-radius: 0px 1rem 1rem 0px;
    padding: 0rem 1.5rem 0rem 1rem;
    color: @red;
}
#tray {
margin-right: 0.5rem;
}
#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  color: @red;
  margin-right: 1rem;
}
#custom-music.Playing {
    background: rgb(137, 180, 250);
    background: radial-gradient(circle, rgba(137, 180, 250, 120) 0%, rgba(142, 179, 250, 120) 6%, rgba(148, 226, 213, 1) 14%, rgba(147, 178, 250, 1) 14%, rgba(155, 176, 249, 1) 18%, rgba(245, 194, 231, 1) 28%, rgba(158, 175, 249, 1) 28%, rgba(181, 170, 248, 1) 58%, rgba(205, 214, 244, 1) 69%, rgba(186, 169, 248, 1) 69%, rgba(195, 167, 247, 1) 72%, rgba(137, 220, 235, 1) 73%, rgba(198, 167, 247, 1) 78%, rgba(203, 166, 247, 1) 100%);
    background-size: 400% 400%;
    animation: gradient_f 9s cubic-bezier(.72, .39, .21, 1) infinite;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#custom-music.Paused,
#custom-music.Stopped {
background-image: linear-gradient(-45deg, #A8C4D9 0%, #9B7AD4 52%, #BD90CF 90%);
 color: #F5DDF2;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
border-bottom-right-radius: 1rem;
border-bottom-left-radius: 1rem;
}
